[submodule "src/slam_toolbox"]
	path = src/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
[submodule "src/geometry2"]
	path = src/geometry2
	url = https://github.com/ros/geometry2.git
[submodule "src/pointcloud_to_laserscan"]
	path = src/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
[submodule "src/scan_tools"]
	path = src/scan_tools
	url = https://github.com/ccny-ros-pkg/scan_tools
